build/
build_*/
*.mod
run_dirs/test_gnu/
run_dirs/test_intel/
*.err
run_dirs/*/auto_generated_download_script.sh
run_dirs/*/*.err
*.sh
run_dirs/*/kpp_standalone
run_dirs/*/gcclassic
run_dirs/*/GC.log*
run_dirs/*/*/GC.log*
